<h1>Booked shifts</h1>

<div class="topClear">
       <a href="/clear">
        <button type="submit" id="clear"><i class="icon-trash"></i>Reset</button>
         </a> 
  </div>


<div class="box ">
    <div class="moveDown">
        <div class="rows moveDown">
            <div class="two row">
{{!-- 
                {{#each }}
                <ul id="shiftdays">

                </ul>
                {{/each}} --}}
            </div>
        </div>
    </div>
</div>