<div class="home-container">
    <div class="heading">
        <h1>Nandiz <span style="color:#399c97 ;"> Coffee Cafe</span></h1>
    </div>
    e.g //Nandiz.com/<span style="color: blue;">waiters/john</span>
<br>
<br>
    <div class="context">
        <span style="font-weight: 600">Welcome to Nandiz Coffee Shop!</span> <br>
         Please enter your name on the URL textbox as the above example format.
        Thank you!
    </div>
</div>