<div class="login">
    <h1>Login To Your Account</h1>
    <form action="/" method="Get">
        <div class="imgcontainer">
            <img src="/images/perfect.jpg" alt="Avatar" class="avatar">
        </div>
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <input type="submit" value="LOGIN">


        <div class="login-container" >
            <div class="rememberMe">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </div>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>