/* @import 'utilities.css'; */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background: #ffffff;
}

.appName h1 {
    color: #33d6ce;
}

.waiterName span {
    color: #FFF;
}

.days {
    color: #FFF;
}

.button-primary:hover {
    color: #7BAC24;
    background-color: whitesmoke;
    border-color: #7BAC24;
}

.button-secondary:hover {
    color: #FFF;
    background-color: #a89067;
    border-color: #a39274;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #1C2836;
    padding: 100px;
    border-radius: 4px;
}


/* button style */

.button-primary {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    letter-spacing: .1rem;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    margin: 0;
}

.buttons a {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    letter-spacing: .1rem;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    margin: 0;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

.success {
    color: green;
}


/* login form..... */

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 5px;
}

.login h1 {
    text-align: center;
    color: #23463f;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}


/* style font awesome icons */

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.login form input[type="submit"] {
    width: 90%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #23463f;
    transition: background-color 0.2s;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    /* width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%; */
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* Extra style for the cancel button (red) */

.login-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: -16px;
}

span a {
    text-decoration: none;
}

.rememberMe {
    float: left;
    margin-right: 6em;
}